<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>MainFormServlet</servlet-name>
        <servlet-class>org.example.petstore.web.servlet.MainFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryFormServlet</servlet-name>
        <servlet-class>org.example.petstore.web.servlet.CategoryFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductFormServlet</servlet-name>
        <servlet-class>org.example.petstore.web.servlet.ProductFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemFormServlet</servlet-name>
        <servlet-class>org.example.petstore.web.servlet.ItemFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFormServlet</servlet-name>
        <servlet-class>org.example.petstore.web.servlet.SearchFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartFormServlet</servlet-name>
        <servlet-class>org.example.petstore.web.servlet.CartFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <servlet-class>org.example.petstore.web.servlet.AddItemToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>org.example.petstore.web.servlet.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartItemServlet</servlet-name>
        <servlet-class>org.example.petstore.web.servlet.RemoveCartItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOnFormServlet</servlet-name>
        <servlet-class>org.example.petstore.web.servlet.SignOnFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewAccountFormServlet</servlet-name>
        <servlet-class>org.example.petstore.web.servlet.NewAccountFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountServlet</servlet-name>
        <servlet-class>org.example.petstore.web.servlet.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOnServlet</servlet-name>
        <servlet-class>org.example.petstore.web.servlet.SignOnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewOrderFormServlet</servlet-name>
        <servlet-class>org.example.petstore.web.servlet.NewOrderFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewOrderConfirmedServlet</servlet-name>
        <servlet-class>org.example.petstore.web.servlet.NewOrderConfirmedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShippingFormServlet</servlet-name>
        <servlet-class>org.example.petstore.web.servlet.ShippingFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShippingSubmitServlet</servlet-name>
        <servlet-class>org.example.petstore.web.servlet.ShippingSubmitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderFormServlet</servlet-name>
        <servlet-class>org.example.petstore.web.servlet.ViewOrderFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrdersServlet</servlet-name>
        <servlet-class>org.example.petstore.web.servlet.ListOrdersServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainFormServlet</servlet-name>
        <url-pattern>/mainForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryFormServlet</servlet-name>
        <url-pattern>/categoryForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductFormServlet</servlet-name>
        <url-pattern>/productForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemFormServlet</servlet-name>
        <url-pattern>/itemForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFormServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartFormServlet</servlet-name>
        <url-pattern>/cartForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <url-pattern>/addItemToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/updateCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartItemServlet</servlet-name>
        <url-pattern>/removeCartItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOnFormServlet</servlet-name>
        <url-pattern>/signOnForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewAccountFormServlet</servlet-name>
        <url-pattern>/newAccountForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountServlet</servlet-name>
        <url-pattern>/createAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOnServlet</servlet-name>
        <url-pattern>/signOn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewOrderFormServlet</servlet-name>
        <url-pattern>/newOrderForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewOrderConfirmedServlet</servlet-name>
        <url-pattern>/newOrderConfirmed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShippingFormServlet</servlet-name>
        <url-pattern>/shippingForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShippingSubmitServlet</servlet-name>
        <url-pattern>/shippingSubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderFormServlet</servlet-name>
        <url-pattern>/viewOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrdersServlet</servlet-name>
        <url-pattern>/listOrders</url-pattern>
    </servlet-mapping>


</web-app>